
.postpublished{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 10px 60px;
}
.postpublished-title{
    font-family: var(--abelFonts);
}
.postpublished-info{
    font-size: 12px;
    padding-bottom: 5px;
    color:var(--text-grey);
}
.postpublished-img> img{
object-fit: cover;
width: 100%;
}
.postpublished-content{
    font-family: var(--abelFonts);
}
.postpublished-content h4{
    font-family: var(--lexend);
}

/* aside starts form here */
aside{
    margin-top: 100px;
    padding-left: 60px;
    
}
.recentposts{
    font-family: var(--josefin);
}
.recentpost-img{
      position: relative;
}
.recentpost-img>img{
    object-fit: cover;
    width: 100%;
}
.recentpost-info{
    position: absolute;
    padding: 8px;
    left: 0;
    bottom: -5px;
    background-color: #fff;
    color: var(--text-grey);
    font-family: var(--abelFonts);
    font-size: 14px;
}
.recentpost-title{
    margin-bottom: 50px;

}
.recentpost-title a{
    font-family: var(--anton);
    color: var(--text-grey);
}
/* most view tags */
.mostview{
    font-family: var(--josefin);
}
.mostview-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr; */
    text-align: center;}
.mostview-tag{
    padding: 10px;
    background-color: var(--sky);
    margin: 5px 5px;
    color: #fff;
    font-weight: 200;
    font-family: var(--abelFonts);
    border-radius: 10px;
}
.comments-wrapper{
    border: .2px solid gray;
    border-bottom: none;
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 50px;
}
.comments-wrapper h1{
    font-family: var(--abelFonts);
    /* border: 1px solid red; */
}
.throwComment{
    display: grid;
    grid-template-columns: 200px 10px;
    font-family: var(--abelFonts);
}
.addComment input{
    font-family: var(--abelFonts);
    padding: 0.8rem;
    width: 15rem;
    font-size: 15px;
    margin-bottom: 25px;
}
.addComment input:focus{
    outline: none;
}
.postComment button{
    font-family: var(--abelFonts);
    padding: 0.9rem;
    width: 5rem;
    margin-left:80px ;
    background-color: var(--sky);
    font-size: 15px;
    margin-bottom: 25px;
    color: white;
    border: none;
}

.comments{
    display: grid;
    grid-template-columns: 50px 500px;
    grid-template-areas: "img name" "comments comments";
    align-items: center;
    font-family: var(--abelFonts);
}   
.userImg{
    grid-area: img;
    /* border: 1px solid red; */
}
.userImg img{
    border-radius: 20%;
    object-fit: cover;
    width: 100%;
}
.userName{
    grid-area: name;
    padding-left: 20px;
    color: var(--text-grey);
}
.userName h2{
    margin: 20px 0;
}
.userComment{
    /* border: 1px solid red;   */
    grid-area: comments;
}
.userComment p{
    margin: 0;
    color: var(--text-grey);

}